@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Oxanium:wght@200..800&display=swap');


body{
    font-family: "Oxanium", sans-serif;
}

header{
    width:97%;
    margin:-10px -10px -10px -10px;
    padding:0px 10px 0px 70px;
    display:flex;
    color:white;
    background-color: #e40523;
}    

select {
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc; /* Gray border */
    margin-top: 50px;
    padding: 10px; 
    font-size: 16px; 
    width: 200px; 
    border-radius: 5px; /* Rounded corners */
}

  select option {
    background-color: white; 
    font-size: 50px; 
}
.container {
    padding-top: 5em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}
  