.no-race-selected {
    margin-top: -10px;
    background-image: url("../images/Home.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 24em;
    margin-left: 0em;
    background-color: #f2f2f2;
    align-content: center;
}